[EpicOnlineServices]
DedicatedServerClientId=xyza7891gk5PRo3J7G9puCJGFJjmEguW
DedicatedServerClientSecret=pKWl6t5i9NJK8gTpVlAxzENZ65P8hYzodV8Dqe5Rlc8

[ConsoleVariables]
wp.Runtime.EnableServerStreaming=0
wp.Runtime.EnableServerStreamingOut=0

[Core.Log]
LogPackageName=off
LogPluginManager=off
LogIoDispatcher=off
LogPakFile=off
LogInit=off
LogD3D12RHI=off
LogSlate=off
LogSlateStyle=off
LogShaderLibrary=all off
LogParticles=off
LogSteamShared=off
LogPlayerManagement=off
LogConfig=off
LogConsoleManager=off
LogViewport=off
LogWindows=off
LogWindowsDesktop=off
LogWindowsTextInputMethodSystem=off
LogUObjectArray=off
LogRenderTargetPool=off
LogUObjectAllocator=off
LogAssetRegistry=off
LogDLSS=off
LogFSR2=off
LogMaterial=off
LogMessaging=off
LogDLSSNGXD3D12RHI=off
LogDLSSNGXRHI=off
LogDLSSNGXVulkanRHIPreInit=off
LogAbilitySystem=off
LogAnimMarkerSync=off
LogAnimMontage=off
LogSkinnedMeshComp=off
LogAudio=off
LogVoice=off
LogAudioMixer=off
LogCharacterMovement=off
LogMovement=off
LogNetPartialBunch=off
LogProjectileMovement=off
LogPhysics=off
LogWmfMedia=off
LogMoviePlayer=off
LogMediaUtils=off
LogMediaAssets=off
LogNavigation=off
LogNavigationDirtyArea=off
LogNavLink=off
LogNavigationDataBuild=off
LogNavOctree=off
LogWorld=off
LogMovieScene=off
LogMediaTimeSource=off
LogCheckSubobjects=off
LogCheckComponents=off
LogCrashContext=off
LogCharacterNetSmoothing=off
LogCharacter=off
LogPlatformFile=all off
LogTaskGraph=all off
LogICUInternationalization=all off
LogInit=all off
LogConsoleResponse=all off
LogConsole=all off
; script
LogExec=off
LogScript=off
LogScriptCore=off
LogProperty=off
LogClass=off
LogOnlineGame=off
LogOnline=off
LogOnlineSession=off
LogJson=off
LogSsl=off
LogNetDormancy=off
LogNetFastTArray=off
LogNetPackageMap=off
LogNetPlayerMovement=off
LogHandshake=off
LogGameSession=off
LogSkeletalMesh=off
LogDatabase=off
LogStreaming=off
LogTextLocalizationManager=off
LogGarbage=off
LogStreamableManager=off
LogFileManager=off
LogUObjectGlobals=off
LogEQS=off
PacketHandlerLog=off
LogPluginManager=off
LogModuleManager=off
LogOnlineIdentity=off
LogOnlineSession=off
LogMemory=all off
LogPakFile=all off
LogTemp=off
LogLinker=off
LogAnalytics=off
LogInteractiveProcess=off
LogPluginManager=off
LogNetPlayerMovement=off
LogNetTraffic=off
LogRepTraffic=off
LogRep=off
LogCollision=off
LogPrimitiveComponent=off
LogTextStoreACP=off
LogStaticMesh=off
LogSkinnedMeshComp=off
LogBehaviorTree=off
LogMemory=off
LogLogMemory=off
LogAnimBlueprintLog=off
LogAnimInstance=off
AnimBlueprintLog=off
AnimInstance=off
; Isle stuff
LogIsle=Verbose
LogTheIsle=On
LogTheIsleAdmin=Verbose
LogTheIsleAI=off
LogTheIsleAnimInstance=off
LogTheIsleAudio=off
LogTheIsleAuth=Verbose
LogTheIsleCharacter=On
LogTheIsleCharacterMovement=off
LogTheIsleDatabase=Verbose
LogTheIsleEnvironment=off
LogTheIsleGame=Verbose
LogTheIsleNetwork=Verbose
LogTheIsleOnline=Verbose
LogTheIslePlayerController=off
LogTheIsleUI=off
LogTheIsleWorld=off
LogTheIsleJoinData=VeryVerbose
LogTheIsleChatData=Verbose
LogTheIsleKillData=Verbose
LogTheIsleCommandData=Verbose
LogTheIsleJoinData=Verbose
;test
LogTemp=on
LogNet=on
LogNetVersion=on
LogExit=all off
LogEOSSessionListening=on
LogRedpointEOSCore=Verbose
LogClass=Error
LogPBDRigidsSolver=off
