;METADATA=(Diff=true, UseCommands=true)
[/script/theisle.tigamesession]
ServerName={{ServerName}}
MaxPlayerCount={{MaxPlayers}}
bEnableHumans={{EnableHumans}}
MapName={{MapName}}
bQueueEnabled={{QueueEnabled}}
AISpawnInterval={{AISpawnInterval}}
QueuePort={{QueuePort}}
QueryPort={{GamePort}}
bServerPassword={{ServerPasswordEnabled}}
ServerPassword={{ServerPassword}}
bRconEnabled={{RconEnabled}}
RconPassword={{RconPassword}}
RconPort={{RconPort}}
bServerDynamicWeather={{DynamicWeather}}
MinWeatherVariationInterval=1800
MaxWeatherVariationInterval=3600
ServerDayLengthMinutes={{DayLength}}
ServerNightLengthMinutes={{NightLength}}
bServerWhitelist={{WhitelistEnabled}}
bEnableGlobalChat={{EnableGlobalChat}}
bSpawnAI={{EnableAI}}
bSpawnFish={{SpawnFish}}
bSpawnAmbientFauna={{SpawnFish}}
AIDensity={{AIDensity}}
bEnableMigration={{EnableMigration}}
bEnableMassMigration={{EnableMassMigration}}
bEnablePatrolZones={{EnablePatrolZones}}
bEnableDiets={{EnableDiets}}
bServerFallDamage={{FallDamage}}
bAllowRecordingReplay={{AllowReplay}}
bSpawnPlants={{SpawnPlants}}
PlantSpawnMultiplier={{PlantMultiplier}}
GrowthMultiplier={{GrowthMultiplier}}
bEnableMutations={{EnableMutations}}
bUseRegionSpawning=false
bUseRegionSpawnCooldown=false
RegionSpawnCooldownTimeSeconds=150
Discord="{{Discord}}"
CorpseDecayMultiplier={{CorpseDecay}}

[/script/theisle.tigamestatebase]
{{GAMESTATEBASE}}
